.card {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.card input {
  width: 100%;
  height: 35px;
  padding: 5px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
}

.card input:focus {
  border-color: rgb(49, 63, 87);
}

.card p {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}
