body {
  margin: 0;
  padding: 0;
  background-color: rgb(49, 63, 87);
  font-family: Arial, sans-serif;
}

.app-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
